<div class="content-perfil-publico">
	<div class="register-quien clearfix">
		<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
			<h2 class="title-register text-center">Ve el perfil de completo de
				<span class="name-perfil">
					<%= empresa %>.</span> ¡Es gratis! </h2>
			<h3 class="subtitle-register text-center">Tus colegas, 500 millones más de profesionales.</h3>
		</div>
		<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center">
			<button class="btn-register-quien" onclick="javascript:openPopUpProvider('facebook', false, '1', 'landing' );">Registrate!</button>
		</div>
	</div>
</div>